.DS_Store
node_modules
.turbo
*.log
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.sisyphus/
.osgrep/
docs/.vitepress/cache/
docs/.vitepress/dist/
*.js
node_modules/
.dist/
.next/
.turbo/.osgrep
.npmrc